@import "~bootstrap/dist/css/bootstrap.min.css";
/* 모든 속성 초기화 */
* {margin: 0; padding: 0; box-sizing: border-box;}
a {text-decoration: none; color: inherit;}
ul {list-style: none;}
h1,h2,h3,h4,h5,h6,p {margin: 0;}
body {
    font-family: Arial, "맑은 고딕", sans-serif; 
    line-height: 1;
    min-height: 100%;
    /* overflow-x: hidden;
    overflow-y: auto; */
}
img {border: none;}
button {background: none; border: none;}

.init {
  margin: 0;
  padding: 0;
}
:root {
  --white: #f2eeee;
  --black: #000;
  --gray1: #D8D8D8;
  --gray2: #A6A6A6;
  --gray3: #615D5D;
  --gray4: #313131;

  --text-color-red: #BB4040;
  --text-color-red-light: #C87474;
  --text-color-blue: #4958B8;
  --text-color-blue-light: #8696F9;

  --sidebar-width: 6vw;
  --sidebar-item-width: 2.5vw;
  --post-width : 60vw;
}

.fontWhite{
  color: var(--white);
}
.fontBlack{
  color: var(----black);
}
.fontGray1{
  color: var(--gray1);
}
.fontGray2{
  color: var(--gray2);
}
.fontGray3{
  color: var(--gray2);
}
.fontGray4{
  color: var(--gray2);
}
.fontBlue{
  color: var(--text-color-blue);
}
.fontBlueLight{
  color: var(--text-color-blue-light);
}
.fontRed{
  color: var(--text-color-red);
}
.fontRedLight{
  color: var(--text-color-red-light);
}

.cursorPointer{
  cursor: pointer; 
}

/* layout */
body {
  background-color: var(--gray1);
  /* color: var(--text-color); */
  font-family: Arial, sans-serif;
}
.main-layout{
  display: flex;
  flex-direction: row;
}
.loading{
  min-height: 80px;
}
/* page */
.sidebar-space{
  width: var(--sidebar-width);
}

.main-space{
display: flex;
flex-direction: column;
/* width: var(--post-width); */
margin: auto;
}

.feeds-top-manu{
  position: fixed;
  float:left;
  /* margin: auto;
  text-align: center; */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100px;
}

.feeds-container{
  width: 60vw;
  min-height: 100vh;
  /* overflow-y: hidden; */
  margin: auto;
  background-color: var(--gray2);
  border-radius: 15px 15px 0 0;
}

  .feed-underline{
    margin-top: 30px;
  }

  .feed-detail-container{
    width: 60vw;
    min-height: 60vh;
    /* overflow-y: hidden; */
    margin: auto;
    background-color: var(--gray2);
    border-radius: 15px;
  }

  .cusorDefault{
    cursor: text;
  }