@import "~bootstrap/dist/css/bootstrap.min.css";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
/* 모든 속성 초기화 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
body {
  font-family: Helvetica, "맑은 고딕", sans-serif;
  line-height: 1;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
img {
  border: none;
}
button {
  background: none;
  border: none;
}

.init {
  margin: 0;
  padding: 0;
}
:root {
  --black: #000;
  --white: #f0f0f0;
  --gray0: #e7e7e7;
  --gray1: #c0c0c0;
  --gray2: #8f8f8f;
  --gray3: #4e4e4e;
  --gray4: #313131;

  --text-color-red: #bb4040;
  --text-color-red-light: #c87474;
  --text-color-blue: #4958b8;
  --text-color-blue-light: #8696f9;
  --green: #925888;

  --sidebar-width: 4.5vw;
  --sidebar-min-width: 50px;
  --sidebar-logo-width: 2.5vw;
  --sidebar-item-width: 2.1vw;
  --sidebar-item-min-width: 30px;
  --feed-width: 47vw;
  --login-box-width: 30vw;
  --feed-min-width: 500px;
  --popup-width: 40vw;
  --popup-min-width: 450px;
}

.fontWhite {
  color: var(--white) !important;
}
.fontBlack {
  color: var(--black);
}
.fontGray1 {
  color: var(--gray1);
}
.fontGray2 {
  color: var(--gray2);
}
.fontGray3 {
  color: var(--gray3) !important;
}
.fontGray4 {
  color: var(--gray4) !important;
}

.fontBlue {
  color: var(--text-color-blue);
}
.fontBlueLight {
  color: var(--text-color-blue-light);
}
.fontRed {
  color: var(--text-color-red);
}
.fontRedLight {
  color: var(--text-color-red-light);
}

.bgGray0 {
  background-color: var(--gray0);
}
.bgGray1 {
  background-color: var(--gray1);
}
.bgGray2 {
  background-color: var(--gray2);
}
.bgGray3 {
  background-color: var(--gray3);
}
.bgGray4 {
  background-color: var(--gray4);
}

.marginAuto {
  margin: auto;
}
.textCener {
  text-align: center;
}
.cursorPointer {
  cursor: pointer;
}

/* layout */
body {
  background-color: var(--gray1);
  /* color: var(--text-color); */
}
.main-layout {
  display: flex;
  flex-direction: row;
}
.loading {
  min-height: 80px;
}
/* page */
.sidebar-space {
  width: var(--sidebar-width);
  min-width: var(--sidebar-item-min-width);
}
.topTitleText {
  color: var(--gray4);
}
.main-space {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.feeds-top-manu {
  position: fixed;
  float: left;
  /* margin: auto;
  text-align: center; */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100px;
  /* color: var(--white); */
}

.feeds-container {
  width: var(--feed-width);
  min-width: var(--feed-min-width);
  min-height: 100vh;
  /* overflow-y: hidden; */
  margin: auto;
  background-color: var(--white);
  border: 2px solid var(--gray3);
  border-radius: 28px 28px 0 0;
}

.feed-detail-container {
  width: var(--feed-width);
  min-width: var(--feed-min-width);
  min-height: 60vh;
  /* overflow-y: hidden; */
  margin: auto;
  background-color: var(--white);
  border: 2px solid var(--gray3);
  border-radius: 15px;
}

.cusorPointer {
  cursor: pointer;
}
.cusorDefault {
  cursor: pointer;
}
.feedUnderLine {
  color: var(--gray2);
}
.createFeedUnderLine {
  color: var(--gray3);
}

.feedDetileMiddleLine {
  height: 0;
  background-color: var(--gray1);
  border-top: 2px solid var(--gray3);
}

.custom-button {
  height: 30px;
}

.main-top-drop-down {
  background-color: black !important;
  border-radius: 50% !important;
  width: 30px; /* 버튼 크기 */
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0; /* 내부 패딩 제거 */
  border: none;
  outline: none;
  box-shadow: none;
}

.main-top-drop-down::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logoLongImg {
  width: 20rem;
  margin: auto;
}

.loadingFeedContainer {
  background-color: var(--gray1);
  border-radius: 1rem;
}
.loadingProfile {
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--white);
  border-radius: 50%;
}
.loadingTitle {
  min-width: 7rem;
  height: 1rem;
  background-color: var(--white);
  border-radius: 3rem;
}

.loadingContant {
  width: 90%;
  min-width: 20rem;
  height: 1rem;
  background-color: var(--white);
  border-radius: 3rem;
}
