
.userName{
  margin: 0;
  padding: 0;
  /* font-size: 15px; */
  font-weight: bolder;
}

.RED{
  color :var(--text-color-red)
}

.BLUE{
  color :var(--text-color-blue)
}

.blueLight{
  color :var(--text-color-blue-light)
}

.redLight{
  color :var(--text-color-red-light)
}

.time{
  margin: 0;
  padding: 0;
  font-size: 12px;
  color: var(--gray1);
}

.more{
  /* width: 30px; */
  height: 15px;
  background-color: inherit;
  border: none;
  font-size: 12px;
  color: var(--white);
  font-weight: bolder;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease; 
}
/* 
.more:hover{
  color: var(--gray4);
  font-size: 20px;
} */

.content{
  margin: 0;
  padding: 0;
  /* font-size: 12px; */
  color: var(--white);
}

.like,.comment{
  margin: 0;
  padding: 0;
  font-size: 12px;
  color: var(--gray1);
}

.write{
  margin: 0;
  padding: 5px 10px;
  background-color: inherit;
  border: 1px solid var(--white); 
  border-radius: 10px; 
  background-color: transparent;
  color: var(--white);
  font-size: 13px;
  cursor: pointer; 
  transition: all 0.3s ease; 
}

/* .write:hover {
  border: 1px solid var(--gray3); 
  background-color: var(--gray3); 
  color: var(--gray1); 
} */

.overay{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  /* overflow: hidden; */
}

.CreateFeedContainer{
  /* height: auto; */
  margin: auto;
  width: 95%;
  border : solid var(--gray2); 
  border-radius: 15px;
  transition: all 0.3s ease;
}
.CreateFeedContainer:hover{
  width: 96%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.createBoxBackground{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: default;
}

.createBoxlayout{
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}

.createBoxContainer{
  width: 60vw;
  height: auto;
  min-height: 10vh;
  max-height: 60vh;
  /* overflow-y: auto; */
  margin: auto;
  background-color: var(--gray4);
  border-radius: 15px;
  position: relative; /* 위치 기준을 설정 */
  top: -5vh; 

}

.textBox{
  background-color: transparent;
  border:none;
  resize: none; 
  /* overflow-y: hidden;  */
  height: auto;  
  min-height: 80px;
  outline: none; 
  cursor: text;
}

.FeedDetailContainer{
  width: 60vw;
  min-height: 60vh;
  /* overflow-y: hidden; */
  margin: auto;
  background-color: var(--gray2);
  border-radius: 15px;
}

.CreateCommentContainer{
  width: 95%;
  height: 35px;
  margin: auto;
  display: flex;
  align-items: center;
  background-color: var(--gray3);
  /* border : solid 1px var(--gray2); */
  border-radius: 15px;
  transition: all 0.3s ease;
}

.CreateCommentContainer:hover{
  /* border : solid 1px var(--gray1); */
  width: 96%;
  height: 37px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.deleteBoxContainer{
  width: 30vw;
  height: auto;
  min-height: 10vh;
  max-height: 60vh;
  /* overflow-y: auto; */
  margin: auto;
  background-color: var(--gray4);
  border-radius: 15px;
  position: relative; /* 위치 기준을 설정 */
  top: -5vh; 
  display: flex;
  flex-direction: column;
  align-items: center;
}
.deleteBtns{
  height: 60px;
  border-top: solid 1px var(--gray2);
}

.deleteBtn{
  width: 50%;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.deleteBtnLine{
  border-left: solid 1px var(--gray2);
}