/* components/NotificationPanel.module.css */
.panel {
  position: fixed;
  bottom: var(--bottom-nav-height);
  /* 기존 사이드바 너비만큼 왼쪽에서 띄웁니다. (예: 80px) */
  min-width: 100%;
  height: 90%;
  background-color: #f0f0f0;
  border-top: 2px solid var(--gray4);

  /* 초기 상태: 화면 왼쪽 바깥에 위치 */
  transform: translateY(200%);
  transition: transform 0.3s ease-in-out;
  z-index: 999; /* 사이드바보다 위에 오도록 설정 */

  display: flex;
  flex-direction: column;
}

.panel.open {
  /* 열렸을 때: 원래 위치로 이동 */
  transform: translateY(0);
}

.overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 998;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
  overflow-y: hidden;
}

.overlay.open {
  opacity: 1;
  pointer-events: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  border-bottom: 2px solid var(--white);
  flex-shrink: 0; /* Prevent header from shrinking */
}

.header h2 {
  font-size: 20px;
  font-weight: 600;
  padding-left: 20px;
  margin: 0;
}

.closeButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

/* New styles for the settings panel content */
.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 8px 0;
}

.footer {
  margin-top: auto; /* Pushes footer to the bottom */
  padding: 8px 24px 16px;
}

.footerText {
  color: var(--text-color-red);
  font-weight: bolder;
}

.logout {
  color: var(--red);
  font-size: 18px; /* Increased font size */
  font-weight: 600;
  width: 100%;
  text-align: center;
}

.navLink {
  color: var(--gray4);
  margin-left: 10px;
}

.navUnLink {
  color: var(--gray1);
}

.navItem {
  padding: 30px;
}

.noScrollBody {
  overflow: hidden;
}

@media (min-width: 768px) {
  .panel {
    position: fixed;
    top: 0;
    left: var(--sidebar-width);
    width: 23vw;
    max-width: 50vw;
    min-width: 300px;
    height: 100%;
    background-color: #f0f0f0;
    border-right: 2px solid var(--gray4);
    box-shadow: 4px 0px 15px rgba(0, 0, 0, 0.05);
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 999;
    display: flex;
    flex-direction: column;
  }

  .panel.open {
    transform: translateX(0);
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 998;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
  }

  .overlay.open {
    opacity: 1;
    pointer-events: auto;
  }
}
