@import "../(layout)/globals.css";

.login-box{
  width: 50vw;
  min-width: 500px;
  min-height: 60vh;
  /* overflow-y: hidden; */
  margin: auto;
  background-color: var(--gray2);
  border-radius: 15px;
  display: flex;
  vertical-align: center;
}

.login-btn{
  margin: auto;
}

.empty{
  height: 100px;
}
.title{
  font-size: 50px;
}

.image{
  display: block;
  width: 40%;
  min-width: 173px;
  height: auto;
  margin: auto;
}