@import "../(layout)/globals.css";
.body {
  background-color: var(--gray3);
}
.login-box {
  width: var(--login-box-width);
  min-width: var(--feed-min-width);
  height: 62vh;
  min-height: 55vh;
  /* overflow-y: hidden; */
  margin: auto;
  background-color: var(--white);
  border-radius: 30px;
  border: 2px solid var(--gray4);
  display: flex;
  vertical-align: center;
}

.login-btn {
  width: 350px;
  margin: auto;
}

.title {
  font-size: 50px;
}
.text {
  text-align: center;
  font-size: 25px;
}
.line {
  margin: 0;
  padding: 0;
  border-top: 2px solid var(--gray4);
}
.foot {
  height: 150px;
  display: flex;
}
.image {
  display: block;
  width: 220px;
  min-width: 173px;
  border: 1px solid var(--gray2);
  border-radius: 30px;
}

.image:hover {
  border: 2px solid var(--gray4);
}

.imageLink2 {
  width: 220px;
  min-width: 100px;
  height: 50px;
  border: 1px solid var(--gray2);
  border-radius: 45px;
}

.imageText {
  font-size: 17px;
  font-weight: 600;
  padding-top: 15.5px;
  text-align: center;
}
.imageLink2:hover {
  border: 2px solid var(--gray4);
}
.mt-6 {
  margin-top: 60px;
}
.mt-7 {
  margin-top: 70px;
}

.pt-6 {
  padding-top: 60px;
}
.pt-7 {
  padding-top: 70px;
}
.pt-8 {
  padding-top: 80px;
}
.pt-9 {
  padding-top: 90px;
}
.pt-10 {
  padding-top: 100px;
}

.login-box-arelt {
  width: var(--login-box-width);
  min-width: var(--feed-min-width);
  min-height: 5vh;
  background-color: var(--white);
  border-radius: 30px;
  border: 2px solid var(--gray4);
}
