@import "../(layout)/globals.css";

.login-box{
  width: 60vw;
  min-height: 60vh;
  /* overflow-y: hidden; */
  margin: auto;
  background-color: var(--gray2);
  border-radius: 15px;
  display: flex;
  vertical-align: center;
}

.login-btn{
  margin: auto;
}