@import "~bootstrap/dist/css/bootstrap.min.css";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
/* 모든 속성 초기화 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
body {
  font-family: Helvetica, "맑은 고딕", sans-serif;
  line-height: 1;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
img {
  border: none;
}
button {
  background: none;
  border: none;
}

.init {
  margin: 0;
  padding: 0;
}
:root {
  --white: #f2eeee;
  --black: #000;
  --gray1: #c0c0c0;
  --gray2: #8f8f8f;
  --gray3: #4e4e4e;
  --gray4: #313131;

  --text-color-red: #bb4040;
  --text-color-red-light: #c87474;
  --text-color-blue: #4958b8;
  --text-color-blue-light: #8696f9;

  --sidebar-width: 3.5vw;
  --sidebar-min-width: 50px;
  --sidebar-item-width: 2.2vw;
  --sidebar-item-min-width: 30px;
  --feed-width: 45vw;
  --login-box-width: 30vw;
  --feed-min-width: 500px;
  --popup-width: 45vw;
  --popup-min-width: 450px;
}

.fontWhite {
  color: var(--white);
}
.fontBlack {
  color: var(----black);
}
.fontGray1 {
  color: var(--gray1);
}
.fontGray2 {
  color: var(--gray2);
}
.fontGray3 {
  color: var(--gray3);
}
.fontGray4 {
  color: var(--gray4);
}
.fontBlue {
  color: var(--text-color-blue);
}
.fontBlueLight {
  color: var(--text-color-blue-light);
}
.fontRed {
  color: var(--text-color-red);
}
.fontRedLight {
  color: var(--text-color-red-light);
}

.marginAuto {
  margin: auto;
}
.textCener {
  text-align: center;
}
.cursorPointer {
  cursor: pointer;
}

/* layout */
body {
  background-color: var(--gray1);
  /* color: var(--text-color); */
  font-family: Arial, sans-serif;
}
.main-layout {
  display: flex;
  flex-direction: row;
}
.loading {
  min-height: 80px;
}
/* page */
.sidebar-space {
  width: var(--sidebar-width);
  min-width: var(--sidebar-item-min-width);
}

.main-space {
  display: flex;
  flex-direction: column;
  /* width: var(--post-width); */
  margin: auto;
}

.feeds-top-manu {
  position: fixed;
  float: left;
  /* margin: auto;
  text-align: center; */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100px;
}

.feeds-container {
  width: var(--feed-width);
  min-width: var(--feed-min-width);
  min-height: 100vh;
  /* overflow-y: hidden; */
  margin: auto;
  background-color: var(--gray2);
  border-radius: 15px 15px 0 0;
}

.feed-underline {
  margin-top: 30px;
}

.feed-detail-container {
  width: var(--feed-width);
  min-width: var(--feed-min-width);
  min-height: 60vh;
  /* overflow-y: hidden; */
  margin: auto;
  background-color: var(--gray2);
  border-radius: 15px;
}

.cusorDefault {
  cursor: text;
}
