@import "../(layout)/globals.css";
.body {
  background-color: var(--gray3);
}
.login-box {
  width: var(--login-box-width);
  min-width: var(--feed-min-width);
  min-height: 55vh;
  /* overflow-y: hidden; */
  margin: auto;
  background-color: var(--white);
  border-radius: 30px;
  border: 2px solid var(--gray4);
  display: flex;
  vertical-align: center;
}

.login-btn {
  margin: auto;
}

.title {
  font-size: 50px;
}
.text {
  text-align: center;
  font-size: 25px;
}
.line {
  border-top: 2px solid var(--gray4);
}
.foot {
  margin-top: 60px;
  height: 150px;
  display: flex;
}
.image {
  display: block;
  width: 40%;
  min-width: 173px;
  height: auto;
  margin: auto;
  border: 1px solid var(--gray2);
  border-radius: 30px;
}

.image:hover {
  border: 2px solid var(--gray4);
}

.imageLink {
  margin: auto;
  /* display: block; */
  height: auto;
  min-width: 173px;
}
